<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ghats</title>

  <style>
    .content {
      position: relative;
      margin-top: 7%;

      background-color: rgb(247, 228, 201);
    }

    .detail {
      margin-left: 10%;
      margin-right: 10%;
      font-size: 140%;
    }

    h1 {
      text-align: center;
    }

    .grid-container1 {
      display: grid;
      grid-template-columns: 48% 52%;
      background-color: #f2e8d3;
      padding: 10px;
    }

    .grid-item1 {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10%;
      font-size: 140%;
    }
  </style>
</head>

<body>
  <div class="content">
    <div class="detail">
      <h1>9 Important Ghats in Varanasi that You Must See</h1>

      <p>
        There are almost 100 ghats—places with steps leading down to the
        water—along the holy Ganges River in Varanasi. The main group contains
        around 25 of them, and it extends from Assi Ghat north to Raj Ghat.
        The ghats date back to the 14th century but most were rebuilt, along
        with Varanasi, in the 18th century by Maratha rulers. They are either
        privately owned or have special significance in Hindu mythology, and
        are primarily used for bathing and Hindu religious rituals. However,
        there are two ghats (Manikarnika and Harishchandra) where cremations
        are solely performed. A highly recommended, albeit touristy, thing to
        do is take a dawn boat ride along the river from Dashashwamedh Ghat
        (the main ghat). A walk along the Varanasi ghats is also a fascinating
        experience, although do be prepared for some filth and to be hassled
        by vendors. If you're feeling a bit daunted and would prefer to be
        accompanied by a guide, go on this riverside walking tour offered by
        Varanasi Magic.
      </p>
      <br />
    </div>
  </div>

  <div class="grid-container1">
    <div class="grid-item1">
      <h1>1.Assi Ghat</h1>
      <p>
        You'll find Assi Ghat where the Ganges River meets the Assi River at
        the extreme southern end of the city. This spacious and easily
        accessible ghat isn't as crowded as some of the other ghats. However,
        it is a pilgrimage place for Hindus, who bathe there before worshiping
        Lord Shiva in the form of a huge lingam under a pipal tree. The area
        has some trendy boutiques and cafes (head to ​Vaatika Cafe for great
        pasta and pizza with a bonus outlook), making it a popular spot for
        long-staying travelers. A Ganga aarti ceremony is also held at the
        ghat. Dashashwamedh Ghat is a 30-minute walk north along the ghats.
      </p>
      <p> <b>Address: </b> Nagwa Rd, Assi ghat, Shivala, Varanasi, Uttar Pradesh 221005, India </p>
      <p> <b>Website: </b> <a href="https://kashiarchan.in/assi-ghat/">visit website </a> </p>
      <p> <b>Phone: </b> +91 522 230 8993 </p>
      <p> <a
          href="https://www.mappls.com/place-assi+ghat-assi+ghat+road-shiwala-varanasi-uttar+pradesh-221001-FE277T@zdata=MjUuMjg5MDgxKzgzLjAwNjc5OSsxNytGRTI3N1QrKw==ed">View
          map </a> </p>

    </div>

    <div class="grid-item1">
      <img src="static/assi_ghat.jpg" width="100%" height="100%" object-fit : fill />
    </div>
  </div>
  <div class="grid-container1">

    <div class="grid-item1">
      <h1>2. Chet Singh Ghat</h1>
      <p>
        Chet Singh Ghat has quite a bit of historical importance. It was the
        site of the 18th century battle between Maharaja Chet Singh (who ruled
        Varanasi) and the British. Chet Singh had constructed a small fort at
        the ghat but unfortunately the British defeated him. They captured the
        fort and imprisoned him in it. It's said he managed to escape using a
        rope made of turbans!
      </p>
      <p> <b>Address: </b> in front of Chet Singh fort, 72V4+MRP, Ghats of Varanasi, Shivala, Varanasi, Uttar Pradesh
        221001, India </p>
      <p> <a
          href="https://www.mappls.com/place-chet+singh+ghat-shiwala-varanasi-uttar+pradesh-221001-T52DD3@zdata=MjUuMjk1MzExKzgzLjAwNzIwMSsxNytUNTJERDMrKw==ed">View
          map </a> </p>
    </div>

    <div class="grid-item1">
      <img src="static/Chetsing.jpg" width="100%" height="100%" object-fit : fill />
    </div>
  </div>


  <div class="grid-container1">
    <div class="grid-item1">
      <h1>3. Darbhanga Ghat</h1>
      <p>
        Darbhanga Ghat is a photogenic favorite! This visually appealing and architecturally impressive ghat features
        the luxury BrijRama Palace hotel. The hotel was originally a fort built by Shridhara Narayana Munshi (adjacent
        Munshi Ghat is named after him), who was the minister for the estate of Nagpur. King Rameshwar Singh Bahadur of
        Darbhanga (in modern-day Bihar) acquired the structure in 1915 and turned it into his palace. Its current owner,
        Indian hospitality company 1589 Hotels, spent almost 18 years restoring it and converting it into the hotel.
      </p>
      <p> <b>Address: </b> Near Ahilyabai Ghat, 8245+3VW, Bangali Tola, Varanasi, Uttar Pradesh 221010, India </p>
      <p> <a href="https://www.mappls.com/BDCF17">View map </a> </p>

    </div>

    <div class="grid-item1">
      <img src="static/drbnga.jpg" width="100%" height="100%" object-fit : fill />
    </div>
  </div>
  <div class="grid-container1">
    <div class="grid-item1">
      <h1>4.Dashashwamedh Ghat</h1>
      <p>
        Dashashwamedh Ghat is the heart of the action and the top attraction in Varanasi. One of the oldest and holiest
        Varanasi ghats, it's where the famous Ganga aarti takes place every evening. According to Hindu mythology, Lord
        Brahma created the ghat to welcome Lord Shiva. Lord Brahma is also believed to have performed a special horse
        sacrifice ritual there in front of a sacred fire. The carnival of goings-on is captivating, with a constant flow
        of pilgrims, Hindu priests, flower sellers and beggars from dawn til dusk. It's possible to sit and watch for
        hours, and not get bored. There's also a hectic marketplace around the ghat.
      </p>

      <p> <b>Address: </b> Dashashwamedh Ghat Rd, Ghats of Varanasi, Godowlia, Varanasi, Uttar Pradesh 221001, India
      </p>
      <p> <b>Website: </b> <a href="https://kashiarchan.in/dashashwamedh-ghat/">visit website </a> </p>

      <p> <a href="https://mapcarta.com/N4406651897">View map </a> </p>
    </div>

    <div class="grid-item1">
      <img src="static/desha.jpg" width="100%" height="100%" object-fit : fill />
    </div>
  </div>
  <div class="grid-container1">
    <div class="grid-item1">
      <h1>5.Man Mandir Ghat</h1>
      <p>
        Another very old Varanasi ghat, Man Mandir Ghat is notable for its ornate Rajput architecture. Rajput king Man
        Singh of Jaipur built his palace there in 1600. An additional attraction, the observatory, was added in the
        1730s by Sawai Jai Singh II. The astronomical instruments are still in good condition and it's possible to take
        a look at them. Head up to the spacious terrace for fabulous views across the Ganges River.
      </p>
      <p> <b>Address: </b>D31/178, Dashashwamedh Ghat Rd, Bhairavi ghat, Bangali Tola, Varanasi, Uttar Pradesh 221001,
        India </p>

      <p> <a
          href="https://www.google.com/maps/place/Manmandir+Ghat,+Bangali+Tola,+Varanasi,+Uttar+Pradesh+221001/@25.30767,83.0111027,17z/data=!3m1!4b1!4m5!3m4!1s0x398e31e1d8fb1481:0x6c28dbff11744726!8m2!3d25.30769!4d83.0110851">View
          map </a> </p>
    </div>

    <div class="grid-item1">
      <img src="static/manm.jpg" width="100%" height="100%" object-fit : fill />
    </div>
  </div>
  <div class="grid-container1">
    <div class="grid-item1">
      <h1>6.Manikarnika Ghat</h1>
      <p>
        The most confronting ghat, Manikarnika (also known simply as the burning ghat) is the place where the majority
        of dead bodies are cremated in Varanasi -- approximately 28,000 every year! Hindus believe it will liberate them
        from the cycle of death and rebirth. Indeed, you'll openly come face to face with death at Manikarnika Ghat.
        Piles of firewood line the shore and the fires continually burn with the stream of dead bodies, each wrapped in
        cloth and carried through the lanes on makeshift stretchers by the doms (a caste of untouchables that handles
        the corpses and supervises the burning ghat). If you're curious and feeling bold, it is possible to watch the
        cremations take place for a fee. There are plenty of priests or guides around who will lead you to one of the
        upper floors of a nearby building. Make sure you negotiate and don't give in to demands for outrageously high
        sums of money. You can also find out more about the cremations on this insightful Learning and Burning walking
        tour offered by Heritage Walk Varanasi and Death and Rebirth in Banaras walking tour offered by Varanasi Walks.
      </p>
      <p> <b>Address: </b> near Lalita Ghat, Ghats of Varanasi, Lahori Tola, Varanasi, Uttar Pradesh 221001, India </p>
      <p> <b>Website: </b> <a href="https://kashiarchan.com/holis/manikarnika-ghat">visit website </a> </p>

      <p> <a
          href="https://www.mappls.com/place-manikarnika+ghat-near+rajendra+prasad+ghat-garawasi-jugul+tola-varanasi-uttar+pradesh-221001-TE8D24@zdata=MjUuMzEwNzY5KzgzLjAxNDExKzE3K1RFOEQyNCsred">View
          map </a> </p>
    </div>


    <div class="grid-item1">
      <img src="static/manika.jpg" width="100%" height="100%" object-fit : fill />
    </div>
  </div>
  <div class="grid-container1">
    <div class="grid-item1">
      <h1>7. Scindia Ghat</h1>
      <p>
        Scindia Ghat is quite a picturesque and peaceful place, with none of the grimness of nearby Manikarnika Ghat
        (the burning ghat). Of particular interest is the partially submerged Shiva temple at the water's edge. It sunk
        during the construction of the ghat in 1830. The narrow maze of alleyways above the ghat hides a number of
        Varanasi's important temples. This area is called Siddha Kshetra and it attracts plenty of pilgrims.
      </p>
      <p> <b>Address: </b> Dattatreya math, Sindhia ghat, Garwasitola, Ghasi Tola, Varanasi, Uttar Pradesh 221001, India
      </p>




      <p> <a href="https://mapcarta.com/N1538127126">View map </a> </p>
    </div>


    <div class="grid-item1">
      <img src="static/sci.jpg" width="100%" height="100%" object-fit : fill />
    </div>
  </div>
  <div class="grid-container1">
    <div class="grid-item1">
      <h1>8.Bhonsale Ghat</h1>
      <p>
        Distinctive looking Bhonsale Ghat was built in 1780 by Maratha king Bhonsale of Nagpur. It's a substantial stone
        building with small artistic windows at the top, and three heritage temples—Lakshminarayan temple, Yameshwar
        temple and Yamaditya temple. Quite a bit of controversy surrounds this ghat, with the royal family being
        embroiled in a fraud case over the sale of the ghat in 2013.
      </p>
      <p> <b>Address: </b> 8278+5C5, Near Ganga Mahal Gate, Garwasitola, Ghasi Tola, Varanasi, Uttar Pradesh 221001,
        India </p>


      <p> <a href="https://mapcarta.com/N1555732649">View map </a> </p>
    </div>

    <div class="grid-item1">
      <img src="static/bhos.jpg" width="100%" height="100%" object-fit : fill />
    </div>
  </div>

  <div class="grid-container1">
    <div class="grid-item1">
      <h1>9.</h1>
      <p>
        At the far northern end of the ghats, Panchganga Ghat gets its name from the merging of five rivers (the Ganges,
        Yamuna, Saraswati, Kirana and Dhutpapa). It's a relatively serene ghat that requires some effort to reach and
        has significant religious importance. The samadhi temple commemmorating great Hindu yogi Trailinga Swami is
        situated there. Above the ghat is also the 17th century Alamgir mosque, which Mughal ruler Aurangzeb built over
        a Vishnu temple. The mosque is functional but only Muslims are allowed inside. If you visit the ghat during the
        holy Hindu month of Kartik (about 15 days before and after Diwali), you'll be able to see it beautifully
        illuminated by candle-filled baskets hanging from poles to honor ancestors. This culminates with Dev Deepavali
        on Kartik Purnima (full moon night).
      </p>

      <p> <b>Address: </b> /111, Sonarpura Rd, Ghats of Varanasi, Bangali Tola, Varanasi, Uttar Pradesh 221001 </p>


      <p> <a href="https://mapcarta.com/N1538127113">View map </a> </p>





    </div>

    <div class="grid-item1">
      <img src="static/panch.jpg" width="100%" height="100%" object-fit : fill />
    </div>
  </div>
</body>
</html>